@import './vars.scss';
@import url('https://fonts.googleapis.com/css?family=Hind');

.float-left{ float: left}
.float-right{ float: right}
.clear-fix { clear: both}
.margin-none{ margin: 0 !important}
.padding-none{ padding: 0 !important}
.border-squared{ border-radius: 0 !important}
.display-block{ display: block !important}

.align-right, .text-right{ text-align: right}
.align-center, .text-center{ text-align: center}

strong{ font-weight: bold}


.btn-primary{
  background: $base-orange;
  border: 1px solid $base-orange;
}

.form-group select { height: 2.2em }

.btn.white-border {
  background: inherit;
  border-radius: 0;
  border: 2px solid #fff;
}

@mixin padding-vertical-sm{ padding-top: 10px; padding-bottom: 10px }
.padding-vertical-sm{ @include padding-vertical-sm;  }

a:hover{
  cursor: pointer;
  text-decoration: none;
}


body {
  font-family: Hind, sans-serif

}

.body-panel {
  min-height: calc(100vh - 168px);
  margin: 15px 0;
}

.modal-header{
  background: $base-blue;
  font-size: 1.3em;
  color: #fff;
  font-weight: bold
}


.cart-popover{
  color: #fff;
  right: 0;
  z-index:1000;
  background: $base-blue;
  border-radius: 0;
  .arrow::after{
    border-bottom-color: $base-blue !important;
  }

  .cart-item {
    border-bottom: 1px solid #199abd; 
    padding: 15px;
    .image { border: 1px solid #777; height: 50px; }   
    .name { font-weight: bold; font-size: 0.8em;}
    .details { font-size: 0.6em }
  }

  .subtotal {
    padding: 15px;
  }
  .actions {
    padding: 0 15px;
  }
}

.top-panel{
  color: #fff;
  background: $base-blue;
  padding: 0 15px;
  font-size: 0.8em;

  .open-hours { 
    max-width: 200px;
    @include media("<tablet") {
      display: none
    }
  }

  .right-panel {
    float: right;
    text-align: right; 

    .item {   
      display: inline-block;         
      a {
        color: #fff;
        display: inline-block;       
        padding: 0 5px;  
        @include padding-vertical-sm;
      }
    }
    .item.cart {
      .label {  
        @include media("<tablet") {
          display: none;
        }
      }
      a {
        background: $highlight-blue;
        padding: 0 10px;  
        @include padding-vertical-sm;
      }
      .cart-action {
        width: 0.5em;
      }
    }
    .item.region {
      padding: 0 0 0 10px;
    }
  }
}

.main-navigation {

  a{ color: $base-blue !important; }

  .dropdown.hover-show:hover .dropdown-menu{
    display: block;
  }
}

.bottom-panel {
  background: $base-dark; 
  color: #777;
  padding: 30px 15px;
  font-size: 0.7em;
  word-spacing: 1px;
  letter-spacing: 0.1em;


  a {
    color: #fff; 
    text-decoration: underline;
  }
}





.login-or-create {
  .panel-login {
    border-color: #ccc;
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
  }
  .panel-login .panel-heading {
    color: #00415d;
    background-color: #fff;
    border-color: #fff;
    text-align:center;
  }
  .panel-login .panel-heading a{
    text-decoration: none;
    color: #666;
    font-weight: bold;
    font-size: 15px;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
  }
  .panel-login .panel-heading a.active{
    color: #029f5b;
    font-size: 18px;
  }
  .panel-login>.panel-heading hr{
    margin-top: 10px;
    margin-bottom: 0px;
    clear: both;
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
    background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
    background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
  }
  .panel-login input[type="text"],.panel-login input[type="email"],.panel-login input[type="password"] {
    height: 45px;
    border: 1px solid #ddd;
    font-size: 16px;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
  }
  .panel-login input:hover,
  .panel-login input:focus {
    outline:none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-color: #ccc;
  }
  .btn-login {
    background-color: #59B2E0;
    outline: none;
    color: #fff;
    font-size: 14px;
    height: auto;
    font-weight: normal;
    padding: 14px 0;
    text-transform: uppercase;
    border-color: #59B2E6;
  }
  .btn-login:hover,
  .btn-login:focus {
    color: #fff;
    background-color: #53A3CD;
    border-color: #53A3CD;
  }
  .forgot-password {
    text-decoration: underline;
    color: #888;
  }
  .forgot-password:hover,
  .forgot-password:focus {
    text-decoration: underline;
    color: #666;
  }

  .btn-register {
    background-color: #1CB94E;
    outline: none;
    color: #fff;
    font-size: 14px;
    height: auto;
    font-weight: normal;
    padding: 14px 0;
    text-transform: uppercase;
    border-color: #1CB94A;
  }
  .btn-register:hover,
  .btn-register:focus {
    color: #fff;
    background-color: #1CA347;
    border-color: #1CA347;
  }

}