@import './vars.scss';


.homepage { 
 .top-fold{
   width: 100%;
   height: 600px;
   background-size: cover;
   background-position: 50%; 
   background-repeat: no-repeat;


   .water {
     .box{
        position: relative;
        width: 100vw;

        .primary {
          padding-top: 10%;
          z-index: 10;
          width: 75%;
          position: relative;
          text-align: center;
          color: #fff;
          font-size: 48px;
          font-weight: 600;
          text-shadow: 1px 1px 1px black;
        }
        .secondary { 
          z-index: 10;
          width: 75%;
          position: relative;
          text-align: center;
          color: #fff;
        }
        .action { 
          z-index: 10;
          width: 75%;
          position: relative;
          text-align: center;
        }

        .bg{ 
          position: absolute;
          top: 15%;
          width: 325px;
          -webkit-animation: rotator 30s infinite;
          animation: rotator 30s infinite;
          background-size: 100%;
          background-repeat: no-repeat;
          z-index: -1;
        }
      }
    }
  } // .top-fold
  

  .intro-fold{
    padding: 35px;
    border-bottom: 1px solid #efefef;
    h2 {
      margin-bottom: 25px;
    }

    img {
      height: 300px
    }

    p {
      line-height: 28px;
    }
  } // .intro-fold

  .product-fold{
    text-align: center;
    margin: 15px auto;
    position: relative;
    .product-spotlight{      
      padding: 15px;
      position: relative;
      .banner {       
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
        position: absolute;
        top: 43%; 
        bottom: 46%;
        left: 0;
        right: 0; 
        padding-top: 6px;
        color: #fff
      }
      .btn {
        margin: 0 5px;
      }
      .banner.autoship{ background: $base-orange; }
      .banner.single{ background: $base-blue; }
    }
  } // .product-fold

  .enroll-fold {
    color: #fff;
    background: $base-orange;
    height: 250px;
    vertical-align: middle;
    text-align: center; 
    transform-style: preserve-3d;
    padding: 150px 0;

    .wrap {
      position: relative;
      top: 50%;
      transform: perspective(1px) translateY(-50%);

      p { padding: 15px; }
      .btn {
        border: 2px solid #fff;
        text-transform: uppercase;
        font-size: 0.8em; 
        margin-top: 2em;
      }
    }

  }
}

   
@keyframes rotator {
  0% { transform: rotate(-45deg) }
  50% { transform: rotate(25deg) }
  100% {transform: rotate(-45deg) }
}