@import './vars.scss';


.product-view { 
  margin: 75px 0;

  @include media("<tablet") {
    width: 50%;
    margin: auto;
  }

  h1{ 
    padding: 15px 15px;
  }
  .price{ 
    font-weight: bold; 
    color: $base-blue;
    padding: 10px 15px;
  }
  ul.details { 
    color: #999; 
    padding: 15px 35px;
    height: 200px;
    li {
      margin-bottom: 8px;
    }

  }
  
  .product-image {
    border: 1px solid #eee;
    background: #efefef;
    padding: 0 65px;
    position: relative;
    vertical-align: middle;
    color: #fff;
    max-width: 300px;
    margin: auto;
    .banner{       
      font-weight: bold;
      text-transform: uppercase;
      text-align: center;
      position: absolute;
      top: 63%; 
      bottom: 27%;
      left: 0;
      right: 0; 
      padding-top: 12px    
    }
    .banner.autoship{ background: $base-orange; }
    .banner.single{ background: $base-blue; }
    img{ height: 400px}
  }

  .action{
    @include media("<tablet") {
      width: 100%;
    }
  }
}