@import './include-media.scss';

$base-blue: #14a0cc;
$highlight-blue: #00a7d3;

$base-orange: #f26604;

$base-dark: #282c33;


$breakpoints: (phone: 320px, tablet: 768px, desktop: 1024px);


// @include media(">phone") {
//   background: red !important
// }